.box {
    width: 100%;
    height: 100%;
    color: #242424;
}

.step {
    font-size: .4rem;
}

.stepDesc {
    line-height: .706667rem;
    margin-left: .453333rem;
}

.confirm {
    width: 8.133333rem;
    height: 1.066667rem;
    line-height: 1.066667rem;
    text-align: center;
    letter-spacing: .066667rem;
    border-radius: .533333rem;
    background: #39dacd;
    font-size: .48rem;
    color: #fff;
    margin-left: .933333rem;
    position: fixed;
    bottom: 2.133333rem;
}